name: Build and Push Docker Images
on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install kubectl
        uses: azure/setup-kubectl@v2.0
        with:
          version: 'v1.27.0' 
        id: install
 
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1
 
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      # - name: Build and Push Frontend Docker Image
      #   id: build-and-push-frontend
      #   run: |
      #       docker build -t ${{ secrets.AWS_REGISTRY_URL }}:latest ./frontend
      #       docker push ${{ secrets.AWS_REGISTRY_URL }}:latest
      #       echo "::set-output name=image::${{ secrets.AWS_REGISTRY_URL }}/frontend:latest"

      - name: Get commit ID
        id: commit-id
        run: echo "::set-output name=commit_id::$(git rev-parse --short HEAD)"

      - name: Build and Push Frontend Docker Image
        id: build-and-push-frontend
        run: |
          COMMIT_ID=$(echo ${{ steps.commit-id.outputs.commit_id }})
          docker build -t ${{ secrets.AWS_REGISTRY_URL }}:${COMMIT_ID} ./frontend
          docker push ${{ secrets.AWS_REGISTRY_URL }}:${COMMIT_ID}
          echo "::set-output name=image::${{ secrets.AWS_REGISTRY_URL }}:${COMMIT_ID}"

            
      - name: Build and Push Backend Docker Image
        id: build-and-push-backend
        run: |
            COMMIT_ID=$(echo ${{ steps.commit-id.outputs.commit_id }})
            docker build -t ${{ secrets.AWS_BACK_REGISTRY_URL }}:${COMMIT_ID} ./backend
            docker push ${{ secrets.AWS_BACK_REGISTRY_URL }}:${COMMIT_ID}
            echo "::set-output name=image::${{ secrets.AWS_BACK_REGISTRY_URL }}/backend:${COMMIT_ID}"

    
      - name: Trigger Update Helm Chart Workflow
        uses: actions/github-script@v5
        with:
          github-token: ${{ secrets.MY_GITHUB_TOKEN }}
          script: |
            const result = await github.rest.actions.createWorkflowDispatch({
              owner: 'Tharunika-21',
              repo: 'tharuni-helm',
              workflow_id: 'update-helm-chart.yml',
              ref: 'main',
              inputs: {
                image_repo_frontend: '${{ secrets.AWS_REGISTRY_URL }}:${{ steps.commit-id.outputs.commit_id }}',
                image_tag_frontend: '${{ steps.commit-id.outputs.commit_id }}',
                image_repo_backend: '${{ secrets.AWS_BACK_REGISTRY_URL }}:${{ steps.commit-id.outputs.commit_id }}',
                image_tag_backend: '${{ steps.commit-id.outputs.commit_id }}'
              }
            });
            console.log(result); 
