name: Build and Push Docker Images
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install kubectl
        uses: azure/setup-kubectl@v2.0
        with:
          version: 'v1.27.0' 
        id: install
 
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1
 
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and Push Frontend Docker Image
        id: build-and-push-frontend
        run: |
            docker build -t ${{ secrets.AWS_REGISTRY_URL }}:latest ./frontend
            docker push ${{ secrets.AWS_REGISTRY_URL }}:latest
            echo "::set-output name=image::${{ secrets.AWS_REGISTRY_URL }}/frontend:latest"


      - name: Build and Push Backend Docker Image
        id: build-and-push-backend
        run: |
            docker build -t ${{ secrets.AWS_BACK_REGISTRY_URL }}:latest ./backend
            docker push ${{ secrets.AWS_BACK_REGISTRY_URL }}:latest
            echo "::set-output name=image::${{ secrets.AWS_BACK_REGISTRY_URL }}/backend:latest"

            # Commit and push changes to your tharuni-helm repo
            # Use git commands to commit and push the changes

      - name: Trigger Update Helm Chart Workflow
        uses: actions/github-script@v5
        with:
            github-token: ${{ secrets.MY_GITHUB_TOKEN }}
            script: |
              const result = await github.rest.actions.createWorkflowDispatch({
                owner: 'Tharunika-21',
                repo: 'tharuni-helm',
                workflow_id: 'update-helm-chart.yml',
                ref: 'main',
              });
              console.log(result);  
